.home {
  background-color: #fffefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #fffefe;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.home .SEARCH-BAR {
  position: absolute;
  width: 1340px;
  height: 73px;
  top: 36px;
  left: 350px;
}

.home .JUST-FOR-YOU {
  position: absolute;
  width: 1670px;
  height: 451px;
  top: 594px;
  left: 350px;
}

.home .rectangle {
  left: 0;
  position: absolute;
  width: 288px;
  height: 378px;
  top: 73px;
  background-color: #d9d9d9;
}

.home .rectangle-2 {
  left: 345px;
  position: absolute;
  width: 288px;
  height: 378px;
  top: 73px;
  background-color: #d9d9d9;
}

.home .rectangle-3 {
  left: 690px;
  position: absolute;
  width: 288px;
  height: 378px;
  top: 73px;
  background-color: #d9d9d9;
}

.home .rectangle-4 {
  left: 1035px;
  position: absolute;
  width: 288px;
  height: 378px;
  top: 73px;
  background-color: #d9d9d9;
}

.home .rectangle-5 {
  left: 1380px;
  position: absolute;
  width: 288px;
  height: 378px;
  top: 73px;
  background-color: #d9d9d9;
}

.home .text-wrapper {
  position: absolute;
  width: 232px;
  top: 0;
  left: 0;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home .CUISINES {
  position: absolute;
  width: 1670px;
  height: 451px;
  top: 126px;
  left: 350px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 191px;
  top: 0;
  left: 0;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home .DIETS {
  position: absolute;
  width: 1670px;
  height: 451px;
  top: 1080px;
  left: 343px;
}

.home .user-profile-pop-up {
  position: fixed;
  width: 324px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #b36e7b;
}

.home .ellipse {
  position: absolute;
  width: 157px;
  height: 160px;
  top: 46px;
  left: 84px;
}

.home .overlap {
  position: absolute;
  width: 324px;
  height: 133px;
  top: 947px;
  left: 0;
}

.home .frame {
  position: absolute;
  width: 324px;
  height: 113px;
  top: 20px;
  left: 0;
  background-color: #b26e7b;
}

.home .CHANGE-PASSWORD {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 67px;
  left: 13px;
}

.home .overlap-group {
  position: relative;
  width: 298px;
  height: 29px;
  background-color: #d9d9d9;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 173px;
  top: 3px;
  left: 61px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .LOGIN-SIGN-UP {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 24px;
  left: 11px;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 52px;
  top: 3px;
  left: 123px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .overlap-wrapper {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 0;
  left: 11px;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 76px;
  top: 3px;
  left: 111px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .RECENTLY-SEARCHED {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 330px;
  left: 11px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 177px;
  top: 0;
  left: 60px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .SAVED-RECIPES {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 277px;
  left: 11px;
}

.home .text-wrapper-7 {
  position: absolute;
  width: 143px;
  top: 3px;
  left: 79px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .DIETARY-PREFERENCES {
  position: absolute;
  width: 300px;
  height: 29px;
  top: 383px;
  left: 11px;
}

.home .text-wrapper-8 {
  position: absolute;
  width: 188px;
  top: 0;
  left: 57px;
  font-family: "DM Serif Display", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
