
body {
  	margin: 0;
  	line-height: normal;
}


:root {
  	
  	/* fonts */
  	--font-dm-serif-display: 'DM Serif Display';
  	
  	/* font sizes */
  	--font-size-9xl: 28px;
  	
  	/* Colors */
  	--color-black: #000;
  	--color-gainsboro: #d9d9d9;
  	
}